<div class="jumbotron mt-4 ">
    <h1 class="display-4">NodeJS-MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, eveniet?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, possimus saepe ea nam sequi architecto, tempora natus nesciunt, laboriosam nisi voluptatum? Iste iure cupiditate repellendus ex dignissimos vero culpa. Dignissimos.</p>
    <a href="https://nodejs-mongodb-hbs.herokuapp.com/" class="btn btn-primary b">ghPages</a>
    <a href="/users/signin" class="btn btn-primary b">SignIn</a>
    <a href="/users/signup" class="btn btn-primary b">SignUp</a>
</div>